
body{
    background-color: gray;
    margin-top: -8px;
}
#mynavbar{
    border-bottom: 3px solid #ccc;
}
.mynav {
    padding:15px; 
    margin-bottom:-8px; 
    margin-left:30px; 
    font-weight: bolder;
    background-color: seagreen; 
        
}
.main-section{
    background-color:white; 
    margin-top:25px;    
}
.main-section h4{
    color: seagreen;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid gray;
}

.img-responsive{
    float:left;
    width:150px;
    height:150px; 
    margin-right:20px
}
.colimg p{
    text-align: left
}
@media only screen and (max-width: 576px) {
    .mynav {
      background-color:greenyellow;
      margin-left: 150px;
      }
    }
@media only screen and (max-width: 576px) {
    .colbody {
      color:magenta;
      text-align: center;
          
    }
}
.nav-link:hover{
    background-color: mediumvioletred;
    }