
body{
  background-image: url("Assets/Images/background.png");
  margin-top: -8px;
}
#mynavbar{
  border-bottom: 3px solid #ccc;
}
.mynav {
  padding:15px; 
  margin-bottom:-8px; 
  margin-left:30px; 
  font-weight: bolder;
  font-size: large;
  background-color: seagreen;
}
.navbar-nav{
  font-size: medium;
}
.nav-link:hover{
  background-color: mediumvioletred;
  }


#navbar-links:hover a {
  line-height: 0px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
  margin-top: 30px;
  background-color: mediumturquoise;
} 
.footer-section {
  padding-top: 20px;
  font-size: 16px;
  color: #fff;
  color: #ccc;
  background: #666;
  border-top: 8px solid #4aaaa5;
}
.main-section {
  padding: 0px 30px 30px 30px;
  margin: 0px 0px 30px;
  background: #fff;
  border: 2px solid mediumslateblue;
  
}
.main-section h3{
  color: seagreen;
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid gray;
  font-weight: bold;
}
.caption {
  width:100%;
  bottom: 10px;
  position: absolute;
  background: #4aaaa5;
}
.thumbnail {
  border: 0 none;
  box-shadow: none;
  margin: 15px;
  padding: 0;
  max-width: 220px;  
  max-height: 220px;
}
.caption h4 {
  color: #fff;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}

@media only screen and (max-width: 576px) {
  .navbar-brand {
    margin-left: 150px;
    }
  }
  .sidebar {
    background: #fff;
    border: 2px solid mediumslateblue;
    margin-left: 30px;
    height: 300px;
  }
    
  .social.img-responsive {
    display: inline-block;
    margin-left: 15px;
  }
  .sidebar h2 {
    color: seagreen;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid gray;
    font-weight: bold;
    text-align: center;
  }
  