
body{
    background-image: url("Assets/Images/background.png");
    margin-top: -8px;
}
#mynavbar{
    border-bottom: 3px solid #ccc;
}
.mynav {
    padding:15px; 
    margin-bottom:-8px; 
    margin-left:30px; 
    font-weight: bolder; 
    
}
.main-section{
    background-color:white; 
    margin-top:30px; 
    height: 500px;
    border: 2px solid mediumslateblue; 
}
.main-section h4{
    color: seagreen;
    margin-top: 15px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid gray;
}

@media only screen and (max-width: 576px) {
    .navbar-nav {
      background-color:burlywood;
      }
    }

.nav-link:hover{
background-color: mediumvioletred;
}
.sidebar {
    background: #fff;
    border: 2px solid mediumslateblue;
    margin-top: 30px;
    margin-left: 30px;
    height: 300px;
  }
    
  .social.img-responsive {
    display: inline-block;
    margin-left: 15px;
  }
  .sidebar h2 {
    color: seagreen;
    margin-top: 15px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid gray;
    text-align: center;
  }
  
  